.toolbar {
  padding: 10px;
  position: fixed;
  width: 350px;
  top: 0;
  right: -350px;
  background-color: #efefef;
}

.toolbar-open {
  padding: 20px;
  right: 0;
}

.toolabr-component {
  padding-left: 20px;
}

.toolbar-btn {
  padding: 10px;
  position: absolute;
  z-index: 1;
  right: 99%;
}

.toolbar-title {
  margin: 0;
  margin-bottom: 40px;
}

.zoom {
  display: flex;
  align-items: center;
}

.zoom button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 1;
}

.zoom output {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 35px;
  height: 30px;
}
