/* =============== CONTENTS =============== */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* MEDIA QUERIES */



/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/



/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  overflow: hidden;
}

#root {
  height: 100%;
}

#root > div {
  height: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  margin-bottom: 20px;
  width: 100%;
  padding: 8px 5px;
  outline: none;
}

.modal-btn {
  margin-left: auto;
  width: 40px;
}

.modal-select {
  margin-bottom: 20px;
  width: 100%;
  padding: 8px 5px;
  outline: none;
}
